@media only screen and (max-width: 720px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebox-container {
      display: none !important;
    }

    .login-container {
      min-height: 100vw !important;
      border-radius: 24px;
      min-width: 30%;
      // padding: 0;
    }
  }
}

h1,
p,
label,
a {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: large;
}

.container {
  min-width: 75vw;
  min-height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% 10%;

  .sidebox-container {
    min-height: inherit;
    padding: 10%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #7879f1;
    display: flex;
    align-items: center;
    justify-content: center;

    .inside-box-container {
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(24px);
      padding: 75% 60% 75% 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      h1 {
        color: white;
        font-size: larger;
      }
      span {
        color: #3e334e;
      }
      p {
        font-size: x-small;
      }
    }
  }

  .login-container {
    min-height: inherit;
    padding: 10%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .login-container-title {
      p {
        font-size: smaller;
      }
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 15px 0;
    }

    .login-container-main {
      .login-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;
      }

      .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
      }

      .password {
        .eye-icon {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .eye-icon-position {
            position: absolute;
            margin: -30px 10px 0;
          }
        }
      }

      .remember-or-forgot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .login-or-sign {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          width: 45%;
        }
      }
    }

    .login-container-subs {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .media-social {
        display: flex;
        gap: 5px;
      }
    }

    label {
      font-weight: bold;
      font-size: smaller;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    button {
      padding: 10px 20px;
      background-color: white;
      color: #3e334e;
      border-width: thin;
      border-color: #3e334e;
      border-radius: 8px;
      cursor: pointer;
    }

    #login-button {
      background-color: #7879f1;
      color: white;
      border: none;
    }
    #login-button:hover {
      background-color: white;
      color: #7879f1;
    }
    #login-button:disabled {
      cursor: progress;
      position: relative;
    }
    #login-button:disabled:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-top: 3px solid #fff;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    button:hover {
      background-color: #7879f1;
      color: white;
    }

    button:focus {
      outline: none;
    }

    #forgot-link {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
